{% extends 'AppExptes/padre.html' %}

{% load static %}


{% block bloqueQueCambia %}
    
    <h2>Template de leer del sector</h2>

    <ul>

        
        {% for sector in lista_sectores %}

        <li style="font-size: x-large;">
            {{sector.nombre}} - {{sector.sectorCoordinador}}
        </li>
        <button class="btn btn-danger">
            <a style="text-decoration: none; color: white;" href ="{% url 'EliminarSector' sector.id %} ">Eliminar</a>
        </button>
            
        {% endfor %}
            

    </ul>

    <a href=" {% url 'SectorFormulario' %} " class="btn btn-success">Agregar nuevo sector</a>

{% endblock bloqueQueCambia %}