{% extends 'AppExptes/padre.html' %}

{% load static %}


{% block bloqueQueCambia %}
    
    <h2>Template de leer del sector</h2>

    <ul>

        
        {% for sector in lista_sectores %}

        <li style="height: 30px; font-size: large;">
            {{sector.nombre}} - {{sector.sectorCoordinador}}
        </li>
        <button class="btn-xs btn-danger">
            <a style="text-decoration: none; color: white;" href ="{% url 'EliminarSector' sector.id %} ">Eliminar</a>
        </button>
        <button class="btn-xs btn-warning">
            <a style="text-decoration: none; color: white;" href ="{% url 'EditarSector' sector.id %} ">Editar</a>
        </button>
            
        {% endfor %}
            

    </ul>

    <a href=" {% url 'SectorFormulario' %} " class="btn btn-success">Agregar nuevo sector</a>

{% endblock bloqueQueCambia %}