{% extends 'AppExptes/padre.html' %}

{% load static %}


{% block bloqueQueCambia %}
    
    <h2>Detalle de Personal</h2>
    <br>

    <p>Cuenta del personal: <i>{{personal.cuenta}}</i></p>
    <p>Sector del personal: <i>{{personal.sector}}</i></p>
    <p>Nombre del personal: <i>{{personal.nombre}}</i></p>
    <p>Apellido del personal: <i>{{personal.apellido}}</i></p>
    <p>DNI del personal: <i>{{personal.dni}}</i></p>
    <p>Email del personal: <i>{{personal.email}}</i></p>

    <button class="btn btn-primary">
        <a style="text-decoration: none; color: white;" href ="{% url 'Lista' %}">Regresar</a>
    </button>


{% endblock bloqueQueCambia %}