{% extends 'AppExptes/padre.html' %}

{% load static %}


{% block bloqueQueCambia %}
    
    <h2>Creador / Editor de Sector</h2>

    <br>

    
    {% if miForm.errors %}
        
        <p style="color: red;">Datos erroneos, por favor revise.</p>

    {% endif %}
        


    <form action="/AppExptes/sectorFormulario/" method="POST"> {% csrf_token %}

        {{miForm.as_p}}

        <input type="submit" class="btn btn-primary" value="Enviar">


    </form>

{% endblock bloqueQueCambia %}